@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:200,300,400,500,600,700);


body {
  font-size: 18px;
  font-family: "Helvetica", "Arial", sans-serif;
}

header{
  background-color: #73a0c5;
  h1{
    font-family: "Courier New";
    font-weight: 600;
    font-size: 2em;
    line-height: 1em;
    padding: 0.5em;
    color: #fff;
  }
}

.progress-bar {
  height: 5px;
  background-color: #ccc;
  width: 0px;
}



.exercise-area {
  width: 850px;
  margin: 36px auto;
  min-height: 100px;
}

.exercise {
  margin-bottom: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #eee;
}


.exercise-number{
  font-family: "Courier New";
  float: right;
  color: #999;
  font-size: 2em;
}

.check{
  float: right;
  color: #77C473;
  font-size: 2em;
}


.exercise-info {
  h1 {
    font-family: "Courier New";
    font-size: 2em;
    margin-bottom: 0.5em;
    float: left;
  }
  p {
    color: gray;
    margin-bottom: 0.75em;
    line-height: 1.25em;
    font-size: 0.9em;
  }
}


.input textarea {
  font-family: monospace;
  resize: none;
  width: 100%;
  background-color: #efefef;
  border: 0px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 1em;
  min-height: 100px;
  border-radius: 0 0 10px 10px;
}
.input textarea:focus{
  outline: none;
}
.preview {
  height: 7em;
  width: 50%;
  float: right;
  padding: 10px;
  box-sizing: border-box;
  overflow: scroll;
  border-top: 1px solid #efefef;
}
.answer {
  width: 50%;
  height: 7em;
  float: left;
  overflow: scroll;
  padding: 10px;
  box-sizing: border-box;
  border-right: 1px solid #efefef;
  border-top: 1px solid #efefef;
}

.next{
  border: 0;
  font-weight: 700;
  font-size: 1em;
  background-color: white;
  padding: 0.5em 1em;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  color: #77C473;
  border: 1px solid #77C473;
}
.next:hover{
  background-color: #77C473;
  color: white;
}

footer{
  background-color: #F1F5F9;
  position: fixed;
  bottom: 0;
  width: 100%;
  p {
    color: #87A9C9;
    padding: 1em;
    font-size: 0.8em;
  }
  a {
    color: #87A9C9;
    text-decoration: none;
    font-weight: 700;
  }
}
