<header>
<h1>Try AsciiDoc!</h1>
</header>

<div class="progress-bar" data-number-of-exercises="<%= @number_of_exercises %>"></div>

<div class="exercise-area" data-starting-ordinality="<%= @exercise.ordinality %>"></div>

<footer>
<p>Try AsciiDoc by <a href="http://kevinlitchfield.github.io">Kevin Litchfield</a>, powered by <a href="http://asciidoctor.org/">Asciidoctor</a>. <a href="http://asciidoc.org/">AsciiDoc</a> is by <a href="http://www.methods.co.nz/stuart.html">Stuart Rackham</a> and contributors.</p>
</footer>

<script id="exercise-template" type="text/x-handlebars-template">
<div class="exercise" data-ordinality="{{ordinality}}">
    <div class="exercise-info">
      <h1>{{topic}}</h1>
      <div class="exercise-number">#{{ordinality}}</div>
      <div style="clear: both"></div>
      <p>{{description}}</p>
    </div>
    <div class="parsed">
      <div class="answer">{{answer}}</div>
      <div class="preview"></div>
      <div style="clear: both; border-bottom: 1px solid #efefef;"></div>
    </div>
    <div class="input">
      <textarea placeholder="Type AsciiDoc here..."></textarea>
    </div>
  </div>
</script>
